Add BCP references to the normative section

Adding BCP references by including the items below in the list of normative references breaks the build. 

```
-  BCP14:
-  BCP212:
```

This is fixed in 639b69dc9e0dd98890da3b03d3bd209c6bc2f7f7 by using `RFC2119 RFC8174` instead of `BCP14`, and `RFC8252` instead of `BCP212`