BFF as an HTTP Proxy

From Andy Newton's review
https://mailarchive.ietf.org/arch/msg/oauth/QkDFJoo076G572D2v4G0Su2_KDE/

```
From the description of the BFF with respect to the browser-based application
and the resource server, it appears to act as an HTTP proxy as defined in
Section 3.7 of RFC 9110. Should this document make note of this
and reference the message forwarding requirements of Section 7.6 in RFC 9110?
```

I don't believe the intent is for the BFF to be an HTTP proxy as defined in RFC 9110. @philippederyck can you confirm?

I confirm that the BFF is __not__ an HTTP proxy. Its behavior would more closely align with a gateway/reverse proxy, except for the fact that the BFF is a client component (as in part of the client application, not client-side) and not a resource server / API component. 

I've coarsely looked through RFC9110, but I don't immediately see a section we can refer to that would map onto the behavior of the BFF. 

It may be useful to clarlify that the BFF is not a proxy component, but a service that is explicitly and deliberately called by the browser-based component of the client.

I think using "forwards" instead of "proxies" will help avoid this confusion in the future.

Resolved